:root {
    --bg-color: #2f3136;
    --card-bg: #36393f;
    --text-header: #ffffff;
    --text-sub: #b9bbbe;
    --discord-blurple: #5865F2;
    --discord-blurple-hover: #4752c4;
    --discord-green: #3ba55c;
    --discord-grey: #747f8d;
}